<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARPrinters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AddRemotePrinters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ARPrinters.Properties.Settings>
            <setting name="OstatniaNazwaSerweraWydruku" serializeAs="String">
                <value />
            </setting>
            <setting name="OstatniaNazwaUzytkownikaLogowania" serializeAs="String">
                <value />
            </setting>
            <setting name="AutomatyczneWyszukiwanie" serializeAs="String">
                <value>False</value>
            </setting>
        </ARPrinters.Properties.Settings>
        <AddRemotePrinters.Properties.Settings>
            <setting name="OstatniaNazwaSerweraWydruku" serializeAs="String">
                <value />
            </setting>
            <setting name="OstatniaNazwaUzytkownikaLogowania" serializeAs="String">
                <value />
            </setting>
        </AddRemotePrinters.Properties.Settings>
    </userSettings>
</configuration>